body {
    background-color: green;
    color:black;
    margin: 0 auto;
    width:100%;
    overflow-x: hidden;
}

.header{
    background-color: white;
    padding: 20px;
    margin: 20px;
 
    width: fit-content;
}

#label1,#input1{
  
    margin-right: 20px;
    margin-bottom: 10px;

}

.card{
    display: flex;
    background-color: white;
    
    margin-top: 20px; 
    width: 28vh;
    height: 40vh;
    margin:20px;
    border-radius: 3vh;
}

.icono1{
    padding:0px;
    margin: 0px;
    font-size: 8vh;
    position: relative;
    top:0%;
    left: 5%;
}

.numero{
    padding:0px;
    margin: 0px;
    align-self: center;    
    font-size: 12vh;
    position: relative;
    top:-5%;
    left: 0%;
    
   
   
}

.icono2{
    padding:0px;
    margin: 0px;
    font-size: 8vh;
    position: relative;
    top:-7%;
    left: 75%;
    
    
    
    
}